NEXT_PUBLIC_SUPABASE_URL=https://hcxdooiirngjodlckjsv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjeGRvb2lpcm5nam9kbGNranN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxNDkxNDAsImV4cCI6MjA5NDcyNTE0MH0.DW4VkOtyjJh0RRe9AX97a--D7C_OjgcNzvAJ34Tnh28